
.kikback-events {
    display: inline-block;
}
.kikback-events .table {
    color:white;
}

.kikback-events .card-body {
    display: inline-block;
    background-color: black;
    min-width: 253;
    padding: 10px;
}

.kikback-events a {
    color: darkred;
}

#grand-opening-video {
    width: 30rem;
    height: 28rem;
}